.noticia{
	color: #008080;
	font-size: 50px;
	font-family: arial;
}
.cs{
	color: white;
	font-size: 20px;
	font-family: arial;
}
.counter{
	color: white;
	font-size: 15px;
	font-family: arial;
}

.vava1{
	color: Maroon;
	font-size: 18px;
	font-family: Arial;
}
.brtt{
	color: white;
	font-size: 18px;
	font-family: arial;
}